git+https://github.com/huggingface/transformers
git+https://github.com/openai/whisper.git
ctranslate2
faster-whisper
ffmpeg-python==0.2.0
gradio==3.38.0
yt-dlp
json5
more_itertools
transformers
altair